@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-jtdf0f');
	src:url('fonts/icomoon.eot?#iefix-jtdf0f') format('embedded-opentype'),
		url('fonts/icomoon.woff?-jtdf0f') format('woff'),
		url('fonts/icomoon.ttf?-jtdf0f') format('truetype'),
		url('fonts/icomoon.svg?-jtdf0f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-loop:before {
	content: "\ea2d";
}

.icon-cog:before {
	content: "\e994";
}

.icon-bookmarks:before {
	content: "\e9d3";
}

.icon-github4:before {
	content: "\eab4";
}

