    <!-- .main__cell -->
    <div class="main__cell">
        <!-- .rate -->
        <div class="rate">
            <h1 class="rate__title">{{title}}</h1>

            <!-- .rate-field -->
            <div class="rate-field">
                <input ng-model="btc" ng-change="changeBTC()" step="0.00000001" type="number" class="rate-field__input" />
                <div class="rate-field__addon">
                    BTC
                </div>
            </div>
            <!-- /.rate-field -->

            <!-- .rate-divider -->
            <div class="rate-divider">
                <i class="icon-loop"></i>
            </div>
            <!-- /.rate-divider -->

            <!-- .rate-field -->
            <div class="rate-field">
                <input step="0.01" ng-model="brl" ng-change="changeBRL()" type="number" class="rate-field__input" />
                <div class="rate-field__addon">
                    BRL
                </div>
            </div>
            <!-- /.rate-field -->
        </div>
        <!-- /.rate -->
    </div>
    <!-- /.main__cell -->

<!--p><strong>Patrocine esse Projeto:</strong> 1Pg3up9SJYhYTH68CmhqLxTdADjbPhJv8Z</p-->

    <!-- .foot -->
    <footer class="foot">
        <!-- .foot-nav -->
        <ul class="foot-nav">
            <li>
                <div class="custom-tweet-button">
                    <a href="https://twitter.com/intent/tweet?url=http://btcbrl.info/&amp;text=O último preço do Bitcoin na {{ title }} foi {{ brl.toFixed(2) }} BRL" target="_blank" alt ="Tweetar Cotação">
                        <i class="btn-icon"></i>
                        <span class="btn-text">Tweetar</span>
                    </a>
                </div>
            </li>
            <li>
                <iframe src="//www.facebook.com/plugins/like.php?href=http://btcbrl.info/&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;colorscheme=light&amp;action=like&amp;height=20" allowtransparency="true" frameborder="0" scrolling="no" width="78" height="20"></iframe>
            </li>
            <li>
                <iframe src="http://ghbtns.com/github-btn.html?user=anderson-juhasc&amp;repo=btcbr&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
            </li>
        </ul>
        <!-- /.foot-nav -->
    </footer>
    <!-- /.foot -->
